/*Styling for the body of the page*/
body{
    margin: 0;
    background-color: #292745;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: sans-serif;
}

/*Styling for the white outside the purple line*/
.outerWhite{
    background: #ffffff;
    padding: 16px;
    max-width: 1750px;
    width: 100%;
    border-radius: 5px;
}

/*Styling for the container box*/
.container{
    background-color: #ffffff;
    padding: 32px;
    text-align: center;
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/*Styling for the line around the white container*/
.containerLine{
    padding: 6px;
    background-color: #292745;
    border-radius: 5px;
}

/*Styling for button component*/
.btn{
    padding: 12px 24px;
    border-radius: 8px;

    background-color: #292745;
    color: #ffffff;
    border: 4px solid #292745;

    font-size: 42px;
    font-weight: bold;
}

.btn:hover{
    background-color: #ffffff;
    color: #292745;
    border: 4px solid #292745;
}

.sendBtn{
    font-size: 16px;
    padding: 0 18px;
    height: 48px;
}

/*Styling for the title text*/
h1.title{
    font-weight: bold;
    font-size: 54px;
    color: #292745;
    text-decoration-line: underline;
    text-underline-offset: 12px;
    padding-top: 20px;
}

/*Styling for welcome paragraph*/
p.para{
    font-size: 32px;
    color:#292745;
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 0px 50px 0px;
}

/*Stlying for the popup banner which appears to let users know Chatbot interaction time is almost up*/
.banner{
    position: fixed;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 18px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #292745;
    box-shadow: 0px 8px 24px rgba(10, 1, 43, 0.2);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.banner.hidden{
    display: none;
}

.banner.show{
    display: block;
    opacity: 1;
}

/*Styling for chatbot communication containers and content */
.chatCard{
    border:4px solid #292745;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 80vh;
}

/*Header for the "ChatBot A title and image*/
.chatHeader{
    height:70px;
    border-bottom: 3px solid #292745;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.chatHeaderLeft{
    display: flex;
    gap: 12px;
}

/*Chatbot jpg*/
.chatIcon{
    width: 48px;
    height: 48px;
    border:3px solid #292745;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    display: block;
}

/*"ChatBot A" text */
.chatTitle{
    font-size: 28px;
    font-weight: 800;
    color:#292745;
}

/*Area where messages will show*/
.chatMessages{
    flex: 1;
    padding: 18px;
    overflow-y: auto;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/*The text bubbles*/
.chatBubbleRow{
    display: flex;
}

.chatBubbleRow.left{
    justify-content: flex-start;
}

.chatBubbleRow.right{
    justify-content: flex-end;
}

.chatBubble{
    max-width: 55%;
    padding: 14px 16px;
    border: 2px solid #292745;
    background: #ffffff;
    color:#292745;
    font-size: 18px;
    line-height: 1.3;
    position: relative;
}

.chatBubble.left{
    border-radius: 10px 10px 10px 2px;
}

.chatBubble.right{
    border-radius: 10px 10px 10px 2px;
}

.chatMessagesSend{
    display: flex;
    gap: 10px;
    padding: 14px;
}

.chatMessagesSend input{
    flex: 1;
    height: 48px;
    width: 100%;
    padding: 0 14px;
    border: 3px solid #292745;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}