/*Styling for the body of the page*/
body{
    margin: 0;
    background-color: #292745;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
}

/*Styling for the container box*/
.container{
    background-color: #ffffff;
    border: 4px solid #292745;
    border-radius: 10px;

    padding: 32px;
    width: 92%;
    height: 85%;

    text-align: center;
}

/*Styling for button component*/
.btn {
    padding: 12px 24px;
    border-radius: 8px;
    border: none;

    background-color: #292745;
    color: #ffffff;
    border: 4px solid #292745;

    font-size: 32;
    font-weight: bold;
    font-family: sans-serif;
}

.btn:hover{
    background-color: #ffffff;
    color: #292745;
    border: 4px solid #292745;
}

/*Styling for the title text*/
h1.title{
    font-weight: bold;
    font-size: 48;
    color: #292745;
    text-decoration-line: underline;
    text-underline-offset: 11px;
}